<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Chris' Datical {{ title }}!
  </h1>
  <mat-card>
    <mat-card-title>{{ description }}</mat-card-title>
    <p>{{ description2 }}</p>
    <p>{{ description3 }}</p>
  </mat-card>
  <iframe src="https://giphy.com/embed/3oEjHGZkrolm9UgvM4" width="480" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/weatherunderground-weather-underground-wunderground-3oEjHGZkrolm9UgvM4"></a></p>
</div>
<app-cities></app-cities>
<router-outlet></router-outlet>
