.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .support {
      font-weight: 400;
      color: red;
      text-align: center;
  }

  .city1-card {
    background-color: red!important;
    padding: 20px!important;
  }